<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${lang}" lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <title>docuForce</title>
  <link rel="shortcut icon" th:href="@{/assets/register_email_phone/favicon.ico}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" media="screen" th:href="@{/assets/register_email_phone/css/main.css}">
</head>
<body>
<div class="layout">
  <img th:src="@{/assets/register_email_phone/img/logo.svg}" class="logo" alt="docuForce">

  <form method="post" th:action="" th:object="">
    <div class="steps_wrapper">
      <div class="step_wrapper step_active">
        <div class="step_description" th:utext="#{label.form.step.phone}">Phone</div>
      </div>
      <div class="step_wrapper">
        <div class="step_description" th:utext="#{label.form.step.password}">Password</div>
      </div>
    </div>

    <div class="info_wrapper">

      <div class="element user_name">
        <div class="user_name_surname">
          <p>Surname</p>
          <p>Name</p>
        </div>
        <p>Patronymic</p>
      </div>

      <div class="element user_email_phone">
        <p>email@example.com</p>
      </div>

      <div class="element user_email_phone">
        <p>+7 (922) 431-23-45</p>
      </div>

      <div class="element user_org">
        <p>ООО «Документационная логистика»</p>
      </div>
    </div>

    <div class="alert_wrapper">
      <p class="alert alert_error" th:utext="#{label.form.alert.incorrect.code}">Verification code entered incorrectly</p>
    </div>

    <div class="phone_wrapper">
      <div class="phone">
        <p class="phone_label" th:utext="#{label.form.step.phone}">Phone</p>
        <p class="phone_number">+7 (922) 431-23-45</p>
      </div>
      <div class="input_wrapper code">
        <label for="code" class="label" th:utext="#{label.form.enter.code}">Enter code</label>
        <div class="element_wrapper">
          <input name="code" id="code" th:field="*{code}" class="element"/>
          <span class="element_wrapper_icon">
              <svg width="12" height="12" class="icon_lock" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 14">
                <path
                    d="M3.182 6.364v-1.91A2.55 2.55 0 015.727 1.91a2.55 2.55 0 012.546 2.546v1.909H3.182zm8.272.954a.955.955 0 00-.954-.954h-.318v-1.91C10.182 2.01 8.173 0 5.727 0S1.273 2.009 1.273 4.455v1.909H.955A.955.955 0 000 7.318v5.727c0 .527.428.955.955.955H10.5a.955.955 0 00.954-.955V7.318z"></path>
              </svg>
            </span>
        </div>
      </div>
    </div>

    <p class="timer_message" id="timer_wrapper" th:utext="#{label.form.code.again.in}">Send code again in <span id="timer">01:00</span></p>
    <a class="again_code_link" id="again_code_link" th:utext="#{label.form.code.again}">Send code again</a>

    <div class="button_wrapper">
      <button type="submit" class="button_submit" th:utext="#{label.form.verify.phone}">Verify phone number</button>
    </div>
  </form>
</div>

<script th:src="@{/assets/register_email_phone/js/main.js}"></script>

</body>
</html>
